@charset "UTF-8";
:root {
  --txt: #222328;
  --primary: rgb(255, 0, 77);
  --line: #dbdbdb;
  --widewrap: 1200px;
  --slidehight: 300px;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
  line-height: 1.5;
  color: var(--txt);
}

.wrap {
  width: var(--widewrap);
  margin: 0 auto;
}
.header {
  display: flex;
  justify-content: space-between;
  height: 100px;
}
.logo {
  display: flex;
  align-items: center;
}
.logo a {
  display: block;
  width: 200px;
  height: 40px;
}

.gnb .depth1 {
  display: flex;
  position: relative;
}
.gnb .depth1 > li {
  position: relative;
}
.gnb .depth1 > li > a {
  display: block;
  height: 100px;
  padding: 0 50px;
  line-height: 100px;
  /* background: lawngreen; */
  /* border: 1px solid #000; */
  text-align: center;
}
.gnb .depth1 > li:hover > a {
  /* background: #0060ff; */
  border-bottom: 5px solid var(--primary);
}
.gnb .depth1 > li:last-child .depth2 {
  border-right: 1px solid #dbdbdb;
}
/* gnb 마우스 오버 후 */
.gnb .depth1:hover .depth2 {
  display: block;
  height: 200px;
  padding: 10px 0;
  border-width: 1px;
}

/* nav depth2 */
/* gnb 마우스 오버 전 */
.gnb .depth2 {
  /* display: none; */
  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  z-index: 1000;
  overflow: hidden;
  height: 0;
  padding: 0;
  background: #fff;
  border: 0 solid #dbdbdb;
  border-right: none;
  transition: all 0.3s;
}
.gnb .depth2 a {
  display: block;
  height: 40px;
  text-align: center;
  line-height: 40px;
}
.gnb .depth2 a:hover {
  background-color: var(--primary);
  color: #fff;
}

/* slide */
.slide-wrap a,
.slide-wrap img {
  display: block;
}
.slide-wrap {
  position: relative;
  overflow: hidden;
  height: var(--slidehight);
}
.lst-slide {
  /* display: none; */
  position: absolute;
  top: 0;
  left: 0;
  /* animation: slide-ani 9s linear alternate infinite; */
}
@keyframes slide-ani {
  0% {
    top: 0;
  }
  35% {
    top: 0;
  }
  37% {
    top: -300px;
  }
  70% {
    top: -600px;
  }
  73% {
    top: -600px;
  }
  100% {
    top: -600px;
  }
}

/* contents */
.contents {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}
/* tab */
.tabs-wrap {
  position: relative;
  display: flex;
  width: calc(100% / 2 - 230px);
}
.tabs-wrap .tab-item {
  width: 50%;
}
/* 비활성화 tab */
.tabs-wrap .tab-item .tit {
  height: 50px;
  padding-top: 15px;
  border-bottom: 2px solid #333;
  background: #ddd;
  text-align: center;
  font-size: 16px;
  box-sizing: border-box;
  cursor: pointer;
}
/* 활성화 tab */
.tabs-wrap .on .tit {
  background: #333;
  color: #fff;
}
.tabs-wrap .tab-item .cont {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  height: 130px;
}
.tabs-wrap .on .cont {
  display: block;
}
.lst-bbs {
  padding-top: 13px;
}
.lst-bbs li {
  display: flex;
  align-items: center;
}
.lst-bbs li::before {
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  margin-top: -4px;
  margin-right: 10px;
  background: var(--primary);
}
.lst-bbs li a {
  display: block;
  line-height: 2;
}
.lst-bbs li a:hover {
  text-decoration: underline;
}

/* 갤러리 */
.lst-gallery {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
}
.lst-gallery li {
  width: 100px;
}
.lst-gallery li p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.bnr {
  width: 400px;
}
.bnr a,
.bnr img {
  display: block;
}
.goto {
  width: calc(100% / 2 - 230px);
}
.goto ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  height: 180px;
}
.goto li {
  width: calc(50% - 5px);
  height: calc(50% - 5px);
  background: rgb(195, 195, 195);
}
.goto a {
  display: block;
  height: 100%;
  background: rgb(195, 195, 195);
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  border-top: 1px solid #d7d7d7;
}
.logo-foot a {
  display: flex;
  align-items: center;
  height: 100px;
}
.lst-sns {
  display: flex;
}
.lst-sns li {
  margin-left: 20px;
}
.lst-sns a {
  display: block;
  height: 100px;
  line-height: 100px;
}

/* modal */
.modal-dimmed {
  /* display: none; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: 1.3s linear;
}

.modal-dimmed.active {
  opacity: 1;
  visibility: visible;
}

.modal-box {
  position: relative;
  width: 500px;
  height: 300px;
  padding: 50px;
  border: 1px solid #eee;
  background: #fff;
  border-radius: 10px;
  text-align: center;
}
.modal-box h3 {
  margin-bottom: 30px;
  font-size: 24px;
}
.modal-box button {
  position: absolute;
  top: -20px;
  right: -20px;
  width: 50px;
  height: 50px;
  background: #000;
  border-radius: 50%;
  border: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
